@import './_variable.scss';

.footer {  
    margin-top: 3rem;
    color: white;
    @include flex-vertical-center;
    padding: 2rem;
    justify-content: center;
    width: calc(100% + 6rem);
    transform:translateX(-3rem);
    border-radius: 4rem 4rem 0rem 0rem;
    font-weight: 500;
    border-top: 2px solid $color-yellow;
    // shadow
    svg {
        margin-right: 0.5rem;
    }
}